In [106]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
import seaborn as sns

In [81]:
df=pd.read_excel('sample.xlsx')

In [82]:
df.head()

,date,prix,type,annexe,no_postal,nom_npa,adresse,EPOQUE_CONSTRUCTION,surface habitable,surface de l'annexe
0,15.07.2021,455000,Appartment,NaN,1205,Genève,Rue des Maraîchers 17,Période de 1991 à 1995,37.905,0.00
1,15.07.2021,900000,Habitation un logement,NaN,1248,Hermance,Route d'Hermance 488A,Période de 2006 à 2010,100.000,0.00
2,13.07.2021,770000,Appartment,Balcons,1202,Genève,Rue de Vermont 58,Période de 1946 à 1960,82.008,0.00
3,13.07.2021,3950000,Habitation un logement,Garage,1253,Vandoeuvres,Chemin du Pré-Poiset 2,Période de 1971 à 1980,216.000,33.00
4,09.07.2021,1350000,Appartment,Balcons,1208,Genève,Rue Michel-CHAUVET 7,Période de 1946 à 1960,80.990,30.73

In [83]:
df['type'].unique()

array(['Appartment', 'Habitation un logement', 'Cave', 'Garage',
       'Hab plusieurs logements', 'Hangar'], dtype=object)

In [84]:
df['annexe'].unique()

array([nan, 'Balcons', 'Garage', 'Box', 'Cave', 'Atelier'], dtype=object)

In [85]:
df['annexe'].fillna("none",inplace=True)

In [86]:
ohe = OneHotEncoder()
transformed = ohe.fit_transform(df[['type']])
df[ohe.categories_[0]] = transformed.toarray()

In [87]:
ohe = OneHotEncoder()
transformed = ohe.fit_transform(df[['annexe']])
df[ohe.categories_[0]] = transformed.toarray()

In [88]:
ohe = OneHotEncoder()
transformed = ohe.fit_transform(df[['no_postal']])
df[ohe.categories_[0]] = transformed.toarray()

In [89]:
ohe = OneHotEncoder()
transformed = ohe.fit_transform(df[['nom_npa']])
df[ohe.categories_[0]] = transformed.toarray()

In [90]:
df.head()

,date,prix,type,annexe,no_postal,nom_npa,adresse,EPOQUE_CONSTRUCTION,surface habitable,surface de l'annexe,...,Genthod,Genève,Grand-Lancy,Hermance,Le Grand-Saconnex,Meinier,Meyrin,Satigny,Thônex,Vandoeuvres
0,15.07.2021,455000,Appartment,none,1205,Genève,Rue des Maraîchers 17,Période de 1991 à 1995,37.905,0.00,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,15.07.2021,900000,Habitation un logement,none,1248,Hermance,Route d'Hermance 488A,Période de 2006 à 2010,100.000,0.00,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,13.07.2021,770000,Appartment,Balcons,1202,Genève,Rue de Vermont 58,Période de 1946 à 1960,82.008,0.00,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,13.07.2021,3950000,Habitation un logement,Garage,1253,Vandoeuvres,Chemin du Pré-Poiset 2,Période de 1971 à 1980,216.000,33.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,09.07.2021,1350000,Appartment,Balcons,1208,Genève,Rue Michel-CHAUVET 7,Période de 1946 à 1960,80.990,30.73,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [91]:
df.drop(['type','annexe','nom_npa','none','no_postal'],axis=1,inplace=True)

In [92]:
df.drop(['adresse','date'],axis=1,inplace=True)

In [93]:
df.head()

,prix,EPOQUE_CONSTRUCTION,surface habitable,surface de l'annexe,Appartment,Cave,Garage,Hab plusieurs logements,Habitation un logement,Hangar,...,Genthod,Genève,Grand-Lancy,Hermance,Le Grand-Saconnex,Meinier,Meyrin,Satigny,Thônex,Vandoeuvres
0,455000,Période de 1991 à 1995,37.905,0.00,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,900000,Période de 2006 à 2010,100.000,0.00,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,770000,Période de 1946 à 1960,82.008,0.00,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3950000,Période de 1971 à 1980,216.000,33.00,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,1350000,Période de 1946 à 1960,80.990,30.73,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [101]:
l=df['EPOQUE_CONSTRUCTION'].str.split().str[-1]

In [103]:
df['EPOQUE_CONSTRUCTION']=l

In [105]:
df.head()

,prix,EPOQUE_CONSTRUCTION,surface habitable,surface de l'annexe,Appartment,Cave,Garage,Hab plusieurs logements,Habitation un logement,Hangar,...,Genthod,Genève,Grand-Lancy,Hermance,Le Grand-Saconnex,Meinier,Meyrin,Satigny,Thônex,Vandoeuvres
0,455000,1995,37.905,0.00,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,900000,2010,100.000,0.00,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,770000,1960,82.008,0.00,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3950000,1980,216.000,33.00,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,1350000,1960,80.990,30.73,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [107]:
sns.pairplot(df)